BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
bs4==0.0.1
click==6.6
Flask==0.12
Flask-Cors==3.0.2
Flask-Login==0.4.0
flask-marshmallow==0.7.0
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
lxml==3.7.1
MarkupSafe==0.23
marshmallow==2.10.5
marshmallow-sqlalchemy==0.12.0
six==1.10.0
SQLAlchemy==1.1.4
Werkzeug==0.11.11
